<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
            background-color: black;
            width: fit-content;
            padding: 10px;
            margin: 30px;
        }
    </style>
</head>
<body>
    <h2>New ticket</h2>
    <textarea name="Sender" id="newTicketSender"></textarea>
    <textarea name="Title" id="newTicketTittle"></textarea>
    <textarea name="body" id="newTicketBody"></textarea>
    <button onclick="newTicket()"><h3>create new ticket</h3></button>
    {% for item in data %}
        <div>
            {{ data[item] }}
            {% if data[item].person %}
                <h4>Sender: {{ data[item].person }}</h4>
            {% else %}
                <h4>Unknown sender.</h4>
            {% endif %}
            <h1>{{ data[item].title }}</h1>
            <p>{{ data[item].body }}</p>
            <a href="/ticket/{{ item }}">Ticket</a>
        </div>
    {% endfor %}
    <script>
        function newTicket() {
            let formData = new FormData();
            const sender = document.getElementById('newTicketSender').value
            const title = document.getElementById('newTicketTittle').value
            const body = document.getElementById('newTicketBody').value
            formData.append('sender', sender);
            formData.append('title', title);
            formData.append('body', body);
            json = JSON.stringify({"sender":sender,"title":title,"body": body})
            fetch('/new/ticket', {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: 'POST',
                body: json,
            })
        }
    </script>
</body>
</html>